<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css">
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>

</head>

<body>
    <div class="page">
        <form method="POST" class="formLogin">
            <h1>Login</h1>
            <p>Digite os seus dados de acesso nos campos abaixo.</p>
            <label>Usuário</label>
            <input type="email" placeholder="Digite seu usuário" autofocus="true" name="usuarioFormLogin"/>
            <label>Senha</label>
            <input type="password" placeholder="Digite sua senha" name="senhaFormLogin"/>
            <button class="btn" input type="submit">
                <i class="bi bi-door-open"></i>
                <span>Acessar!</span>
            </button>
        </form>
    </div>
</body>

</html>